.presentation-card {
  margin: 5rem 0 0;
}

.title-text {
  margin-top: 5rem;
}

.two-column {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.columna {
    width: 50%;
}

.drawing-presentation {
  border-radius: 15px;
  max-height: 50vh;
  width: 50%;
}

@media only screen and (max-width: 780px) {
  .drawing-presentation, .columna {
    width: 100%;
  }
}