img.language-icon {
    height: 30vh;
    width: 30vh;
}

.center-placer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.center-placer > div {
    text-align: center;
}