.content-center {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
}

@media only screen and (max-width: 780px) {
  .button-styler {
    width: 100%;
    margin-bottom: 1rem;
  }
}
