:root {
  --color-white: #FFF;
  --color-black: rgb(44, 44, 44);
  --color-gray: #CCC;
  --background-color: rgba(204, 204, 204, 0.747);
  --shadow-color:  rgba(204, 204, 204);
  
  background-color: var(--background-color);

  overflow-x: hidden;
}

.fullwidth {
  margin: 0;
  padding: 0;
  width: 100%;
}

.scrollTop {
  position: fixed;
  left: 90%;
  bottom: 20px;
  width: 5%;
  height: 20px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}